.grupoCard {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);
    padding: 15px 20px;
    gap: 15px;
    width: 300px;
    font-family: "Lato", sans-serif;
    color: #333;
    position: relative;
}

.grupoIcono {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    color: #888;
    flex-shrink: 0;
    user-select: none;
}

.grupoInfo h3 {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 700;
}

.grupoInfo p {
    margin: 5px 0 3px;
    font-size: 0.9rem;
    color: #666;
}

.grupoInfo small {
    font-size: 0.8rem;
    color: #999;
}

.grupoMenu {
    margin-left: auto;
    cursor: pointer;
    font-size: 1.5rem;
    user-select: none;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.grupoMenu:hover {
    background-color: #b22222;
}