.container-Padre {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.contenedorBtnsPrincipales {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid #e5e7eb;
    margin-bottom: 1.5rem;
}

.h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.btnInteractivoProyectos {
    color: #16a34a;
    border-bottom: 2px solid #16a34a;
    padding-bottom: 0.5rem;
}

.btnInteractivoTareas {
    color: #6b7280;
    padding-bottom: 0.5rem;
    transition: color 0.2s;
}

.btnInteractivoTareas:hover {
    color: #16a34a;
    /* hover:text-green-600 */
}

.gridCards {
    display: grid;
    /* grid */
    grid-template-columns: 1fr;
    /* grid-cols-1 → una columna por defecto */
    gap: 1rem;
    /* gap-4 → separación entre filas y columnas */
    margin-bottom: 2rem;
    /* mb-8 → 2rem de margen inferior */
}

.margenElementsGridTareas{
    margin-inline: 2%;
}

.contenedorPadreGrid {
    height: 200px;
}

.contenedorScroll {
    overflow-y: auto;
    scrollbar-width: none;
}

.oculto {
    display: none;
}

.alturaFija{
    height: 450px;
}

.gridCardsProyectos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.h2{
  font-size: 1.25rem;  
  font-weight: 700;     
  margin-bottom: 0.5rem; 
}

/*------------------------- Control Errores -------------------------*/
#delete-user-project {
    display: none;
    gap: 20px;
    flex-direction: column;
    max-width: 350px;
    background-color: var(--color-background);
    color: var(--color-dark);
    text-align: center;
}

#delete-user-project > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

#delete-user-project > div > button:last-child {
    background-color: #d42d20;
    color: var(--color-white);
}
 
/* TOAST NOTIFICATION */
.alert-alert {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 350px;
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    z-index: 100;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: notification 3s forwards;
}

.alert-success {
    background-color: #24b22e;
}

.alert-error {
    background-color: #d42d20;
}

@keyframes notification {
    25% {
        opacity: 1;
        transform: translate(-50%, 30px);
    }

    60% {
        opacity: 1;
        transform: translate(-50%, 30px);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -30px);
    }
}

@media (min-width: 640px) {
    .gridCards {
        grid-template-columns: repeat(2, 1fr);
        /* sm:grid-cols-2 */
    }
}

@media (min-width: 768px) {
    .gridCardsProyectos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 740px) {

    /* sm */
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {

    /* md */
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {

    /* lg */
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {

    /* xl */
    .container {
        max-width: 1280px;
    }
    .gridCardsProyectos {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1536px) {

    /* 2xl */
    .container {
        max-width: 1536px;
    }
}