.IncidenciaCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
    padding: 10px 15px;
    width: 100%;
    font-family: "Lato", sans-serif;
    color: #333;
    position: relative;
    margin-bottom: 8px;
    height: 80px;
}

.IncidenciaCard p {
    margin: 4px 0;
}

.IncidenciaCard p:first-child {
    font-weight: bold;
    text-align: left;
}

.IncidenciaCard p:last-child {
    margin-left: 20px;
    text-align: left;
    color: #555;
}

.contenedorScroll {
    overflow-y: auto;
    scrollbar-width: none;
}