.flex1{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between
}
.flex2{
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.contendorFoto{
    height: 85%; 
    width: 60%; 
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                0 2px 4px rgba(0, 0, 0, 0.06);
}
.contenedorCabeceraPerfil{
    width: 100%; 
    height: 40%;
}
.contenedorDatosPerfil{
    height: 70%; 
    display: flex; 
    flex-wrap: wrap;
}
.subContenedorDatosPerfil{
    height: 100%; 
    width: 50%; 
    padding: 2%;

    display: flex;
    flex-direction: column;
    gap: 5%;
    align-content: center;
}
.ultimoContenedorDatosPerfil{
    display: flex; 
    flex-wrap: wrap;
}
.campoTexto {
        width: 100%;
        /*padding: 10px;*/
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
        box-sizing: border-box;
        resize: none;
    }
.botonPersonalizado {
    height: fit-content;
    width: 150px;
    background-color: #4CAF50;
    color: white;                     
    padding: 1% 2%;                     
    border: none;                    
    border-radius: 8px;                           
    font-size: 16px;                               
    cursor: pointer;                                 
    transition: background-color 0.3s, transform 0.2s;
}
.botonPersonalizadobonito:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
.botonPersonalizado:active {
    background-color: #3e8e41;
    transform: scale(0.98);
}
.contenedorCardDatos{
    height: 450px;  
    display: flex; 
    flex-wrap: nowrap; 
}
.botoneraPerfil{
    width: 33%;  
}
.contenedorModificaciones{
    width: 80%; 
}


@media (min-width: 0px) {
    .contendorFoto{
        height: 45%; 
    }
    .contenedorCabeceraPerfil{
        height: 25%;
    }
    .contenedorDatosPerfil{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .subContenedorDatosPerfil{
        height: 50%; 
        width: 100%; 
        align-content: center;
        overflow-y: auto;
        scrollbar-width: none;
        padding: 0%;
    }
    .ultimoContenedorDatosPerfil{
        flex-wrap: nowrap;
    }
    .contenedorCardDatos{
        flex-wrap: wrap;
        height: 72%;
        align-content: space-around;
    }
    .botoneraPerfil{
        width: 100%;  
        height: 33%;
    }
    .contenedorModificaciones{
        width: 100%; 
        height: fit-content;
    }
}
@media (min-width: 320px) {
    .contendorFoto{
        height: 60%;
        width: 90%; 
    }
}
@media (min-width: 640px) {
    .contendorFoto{
        height: 45%; 
        width: 60%;
    }
    .contenedorCabeceraPerfil{
        height: 30%;
    }
    .contenedorCardDatos{
        flex-wrap: nowrap;
        height: 450px;
    }
    .botoneraPerfil{
        width: 33%;  
        height: 100%;
    }
    .contenedorModificaciones{
        width: 80%; 
        height: 100%;
    }
}
@media (min-width: 768px) {
    
}
@media (min-width: 740px) {

    /* sm */
    .contendorFoto{
        height: 45%;  
    }
    .contenedorCabeceraPerfil{
        height: 30%;
    }
}
@media (min-width: 768px) {

    /* md */
    .contendorFoto{ 
        height: 48%; 
    }
    .contenedorCabeceraPerfil{
        height: 35%;
    }
}
@media (min-width: 1024px) {

    /* lg */
    .contendorFoto{
        height: 55%;  
    }
    .contenedorCabeceraPerfil{
        height: 40%;
    }
    .contenedorDatosPerfil{
        flex-wrap: wrap;
        flex-direction: row;
    } 
    .subContenedorDatosPerfil{
        height: 100%; 
        width: 50%; 
        overflow-y: hidden;
        padding: 2%;
    }
    .ultimoContenedorDatosPerfil{
        flex-wrap: wrap;
    }
}
@media (min-width: 1280px) {

    /* xl */
    .contendorFoto{
        height: 70%;  
    }
}
@media (min-width: 1536px) {

    /* 2xl */
    .contendorFoto{
        height: 85%; 
    }
}